INTEGRATION_ID=<replace-me>
PENNSIEVE_API_KEY=<replace-me>
PENNSIEVE_API_SECRET=<replace-me>
BASE_DIR=/service/workflows
ENVIRONMENT=local
REGION=us-east-1
DEVICE_KEY=<optional-extract-from-session-token>
SESSION_TOKEN=session-token
REFRESH_TOKEN=refresh-token